/*reset*//*重置默认样式*/
* {
    padding: 0;
    margin: 0;
    /*给内容添加padding时不会影响整体布局*/
    box-sizing: border-box;

}
/*main styling*/
html,body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a {
    color: #333;
    /*去除url下划线*/
    text-decoration: none;
}
h1,h2,h3 {
    padding-bottom: 4px;
}
p{
    margin: 6px 0;
}
/*utility classes*/
/*通用样式*/
.container {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0 10px;
}
.container .icon-img{
    float: left;
    width: 30px;
    background: url("../images/dazhong.jpg") no-repeat center center/cover;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;

}

.text-pirmary {
    color: #f7c08a;
}
/*背景色*/
.bg-dark{
    background: #444;
    color: #ffffff;
}
.clr {
    clear: both;
}
.py {
    padding: 10px 0;
}
.l-heading {
    font-size: 30px;
    padding-top: 20px;

}
/*navbar*/
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}
#navbar a {
    color: #fff;
}
#navbar h1 {
    float: left;
    padding-top: 10px;
}
#navbar ul {
    float: right;
    list-style: none;
}
#navbar ul li{
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 6px;
    text-align: center;
    margin-top: 8px;

}
/*设置鼠标悬浮*/
#navbar ul li a:hover,
    /*设置默认选中*/
#navbar ul li a.current {
    background: #444444;
    color: #f7c08a;
}
/*showcase*/
#showcase {
    /*不重复 居中 居中 全覆盖*/
    background: url("../images/pexels-photo-9113865.jpeg") no-repeat center center/cover;
    height: 600px;

}
#showcase .showcase-content {
    color: #ffffff;
    text-align: center;
    padding-top: 170px;

}
#showcase .showcase-content h1 {
    font-size: 30px;
    line-height: 1.2em;
}
#showcase .showcase-content p {
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background:#333;
    padding: 13px 20px;
    border: none;
}
.btn:hover {
    background: #f7c08a;
}
.btn-light {
    background: #f4f4f4;
    color: #333;
}
/*home-info*/
#home-info {
    height: 150px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../images/pexels-photo-5158105.jpeg") no-repeat center center/cover;
    height: 100%;
}
#home-info .info-content {
    /*右浮动*/
    float: right;
    width: 50%;
    text-align: center;
    height: 100%;
    /*左右填充50 上下填充30*/
    padding: 10px 10px;
    /*超出部分隐藏*/
    overflow: hidden;
}
#home-info .info-content p {
    padding-bottom: 20px;
}
/*features*/
/*特点*/
.box {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}
.box i {
    margin-bottom: 10px;
}
.bg-light {
    background: #f4f4f4;
    color: #333333;
}
.bg-primary {
    background: #f7c08a;
    color: #333333;
}
/*abount-info*/
#abount-info .info-left {
    float: left;
    width: 50%;
    height: 100%;
}
#abount-info .info-right {
    float: right;
    width: 50%;
    height: 100%;
}
#abount-info .info-right img {
    /*因为image是行标签 先转换为块标签*/
    display: block;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    border-radius: 50%;
}
/*testimonial*/
#testimonials {
    height: 600px;
    background: url("../images/pexels-photo-733745.jpeg") no-repeat center center/cover;
    padding-top: 20px;

}
#testimonials h2 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}
#testimonials .testimonial {
    padding: 20px;
    /*上下距离*/
    margin-bottom: 40px;
    /*圆角*/
    border-radius: 5px;
    /*透明度*/
    opacity: 0.8;
}

#testimonials .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

/*contact-from*/
#contact-from .form-group {
    /*元素的下外边距*/
    margin-bottom: 20px;

}
#contact-from label {
    /*元素的下外边距*/
    margin-bottom: 5px;
    display: block;

}
#contact-from input,
#contact-from textarea{
    width: 100%;
    padding: 10px;
    /*边框*/
    border: 1px #ddd solid;
}
#contact-from textarea {
    height: 200px;
}
#contact-from input:focus,
#contact-from textarea:focus {
    /*清除自带标签*/
    outline: none;
    /*点击后边框颜色*/
    border-color: #f7c08a;
}

/*main-footer*/
#main-footer {
    text-align: center;
    background: #333333;
    color: #ffffff;
    padding: 20px;
}



