<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="欢迎来到自学在线">
    <meta name="keywords" content="前端学习,自学在线">
    <title>Em & Rem Units</title>
</head>
<body>
<div id="box-1">
    <h3>Box One</h3>
    <p>   main] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000490: Using JtaPlatform implementation: [org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform]
        2021-11-19 18:59:33.446  INFO 20064 --- [           main] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
        2021-11-19 18:59:33.639  WARN 20064 --- [           main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
        2021-11-19 18:59:33.758  INFO 20064 --- [           main] o.s.b.a.w.s.WelcomePageHandlerMapping    : Adding welcome page template: index
        2021-11-19 18:59:33.908  INFO 20064 --- [           main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 8080 (http) with context path ''
        2021-11-19 18:59:33.916  INFO 20064 --- [           main] com.example.demo.DockertestApplication   : Started DockertestApplication in 3.407 seconds (JVM running for 4.162)
        2021-11-19 18:59:42.588  INFO 20064 --- [nio-8080-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
        2021-11-19 18:59:42.588  INFO 20064 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
        2021-11-19 18:59:42.589  INFO 20064 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet
    </p>
</div>
<div id="box-2">
    <h3>Box One</h3>
    <p>   main] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000490: Using JtaPlatform implementation: [org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform]
        2021-11-19 18:59:33.446  INFO 20064 --- [           main] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
        2021-11-19 18:59:33.639  WARN 20064 --- [           main] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
        2021-11-19 18:59:33.758  INFO 20064 --- [           main] o.s.b.a.w.s.WelcomePageHandlerMapping    : Adding welcome page template: index
        2021-11-19 18:59:33.908  INFO 20064 --- [           main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 8080 (http) with context path ''
        2021-11-19 18:59:33.916  INFO 20064 --- [           main] com.example.demo.DockertestApplication   : Started DockertestApplication in 3.407 seconds (JVM running for 4.162)
        2021-11-19 18:59:42.588  INFO 20064 --- [nio-8080-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
        2021-11-19 18:59:42.588  INFO 20064 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
        2021-11-19 18:59:42.589  INFO 20064 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet
    </p>

</div>

</body>
</html>