<!DOCTYPE HTML>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>纵横兄弟|关于我们</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="欢迎来到自学在线">
    <meta name="keywords" content="前端学习,自学在线">

    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!--引入文字图标-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--media 条件-->
    <link href="css/mobile.css" rel='stylesheet' type='text/css' media="screen and (max-width:500px)"/>
</head>

<body>
<header>
    <nav th:id="navbar">
        <div th:class="container">
            <div th:class="icon-img"></div>
            <h1><a th:href="@{/}">纵横兄弟</a></h1>
            <ul>
                <li><a th:href="@{/}">首页</a></li>
                <li><a th:class="current" th:href="@{/about}">关于我们</a></li>
                <li><a th:href="@{/contact}">联系我们</a></li>
            </ul>
        </div>
    </nav>
</header>
<section th:id="abount-info" class="py bg-light">
	<div th:class="container">
        <div th:class="info-left">
            <h1 th:class="l-heading">关于<span th:class="text-pirmary">纵横兄弟</span></h1>
            <p>Zhang SAN: five years of mechanical repair experience, proficient in various equipment installation, accident handling Zhang SAN: five years of mechanical repair experience, proficient in various equipment installation, accident handling</p>
        </div>
        <div th:class="info-right">
            <img src="../images/pexels-photo-8145352.jpeg" alt="纵横兄弟">
        </div>
    </div>
</section>
<section th:id="testimonials">
    <div th:class="container">
        <h2 th:class="l-heading">顾客评价</h2>
        <div class="testimonial bg-primary">
            <img src="../images/pexels-photo-10221407user1.jpeg" alt="Jan">
            <p>非常好的公司</p>
            <p>非常好的公司</p>
            <p>非常好的公司</p>
        </div>
        <div class="testimonial bg-primary">
            <img src="../images/pexels-photo-220453user2.jpeg" alt="Son">
            <p>非常好的公司</p>
            <p>非常好的公司</p>
            <p>非常好的公司</p>
        </div>
    </div>
</section>


<!--版权声明-->
<div th:class="clr"></div>
<footer th:id="main-footer">
    <p>纵横兄弟 &copy; 2021, All Rights Reserved</p>
</footer>


</body>
</html>